/* Center the form and the components inside the form. */
form {
    border: 1px black dashed;
    padding: 10px;
    text-align: center;
    max-width: 400px;
    min-width: 400px;
    margin: auto;
}

/* Change the background of where the user will input text. */
input {
    background-color: skyblue;
    margin-bottom: 5px;
}

/* Change the background and text of the submit button. */
input[type="submit"] {
    margin-top: 10px;
    background-color: black;
    color: white;
}

/* Center the table and the componenets in the table. Also max width and max height that will
    be use for determining when to allow scrollable for the table. */
#tableDiv {
    max-width: 1600px;
    max-height: 400px;
    overflow: auto;
    text-align: center;
    background-color: white;
}

#generatedTable {
    border-collapse: collapse;
}

/* In the table, every even row have its background change to light blue for better readibility. */
#generatedTable tr:nth-child(even) {
    background-color: skyblue;
}

/* In the table, the first row is the header so its background change to black and text to white
    for better readibility. */
#generatedTable tr:first-child {
    color: white;
    background-color: black;
}

/* In the table, the first th of every row is the header so its background change to black and text to white
    for better readibility. */
#generatedTable tr th:first-child {
    color: white;
    background-color: black;
}

/* In the table, the first row of the first header should be empty so set that to white to match the background. */
#generatedTable tr:first-child th:first-child {
    background-color: white;
}

/* Center the text in td to be center and have a black border with certain width. */
#generatedTable td {
    border: 1px solid black;
    text-align: center;
    width: 80px;
}

/* Center the text in td to be center and have a white border with certain width. */
#generatedTable th {
    border: 1px solid white;
    text-align: center;
    width: 80px;
}

table {
    margin: auto;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sticky_header */